<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour and Travel</title>
    <link rel="stylesheet" href="/static/Explore.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg sticky-top ">
        <a href="/home" class="navbar-brand" id="navbar1"><i class="fa-brands fa-space-awesome"></i> Tour &
            Travel</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#expand" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="expand">
            <div class="navbar-nav">
                <a href="/home" class="nav-link" id="navbar1"> <i class="fa-solid fa-house"></i> Home</a>
                <a href="/contact" class="nav-link" id="navbar1"><i class="fa-solid fa-address-book"></i> Contact
                    us</a>
                <a href="#" class=" nav-link" id="navbar1"><i class="fa-solid fa-circle-question"></i> Help</a>
                <a href="/forms" class=" nav-link" id="navbar1"><i class="fa-solid fa-circle-question"></i>
                    Register</a>

                <a href="#" class=" nav-link" id="navbar3"><input type="text" placeholder="search"> <i
                        class="fa-solid fa-magnifying-glass"></i></a>

                <a href="#" class=" nav-link" id="navbar21"><i class="fa-brands fa-instagram"></i></a>
                <a href="#" class=" nav-link" id="navbar22"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class=" nav-link" id="navbar23"><i class="fa-brands fa-twitter"></i></a>

            </div>
        </div>
    </nav>

    <section class="explore">
        <div class="explore-content">
            <h1>EXPLORE THE WORLD</h1>
            <div class="line"></div>
            <p style="font-family:Arial, Helvetica, sans-serif;">Discover the wonders of the world through global
                exploration. From ancient marvels to modern cities, each destination offers unique experiences. Immerse
                yourself in diverse cultures, indulge in local cuisines, and create lasting memories. Whether you're
                traveling solo or with loved ones, the world is yours to explore.</p>
            <a href="" class="ctn">Learn more</a>
        </div>
    </section>

    <section class="tours">
        <div class="row">
            <div class="col content-col">
                <h1>UPCOMING TOURS & DESTINATION</h1>
                <div class="line"></div>
                <p>Explore our upcoming tours and destinations! From the serene landscapes of the Swiss Alps to the
                    bustling streets of Tokyo, our carefully curated itineraries offer something for every traveler.
                    Whether you're seeking adventure, relaxation, or cultural immersion, our upcoming tours promise
                    unforgettable experiences in some of the world's most captivating destinations.</p>
                <a href="#" class="ctn">Learn More</a>
            </div>
            <div class="col image-col">
                <div class="image-gallery">
                    <img src="/static/img3.png" alt="">
                    <img src="/static/img4.png" alt="">
                    <img src="/static/img5.png" alt="">
                    <img src="/static/img6.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
        <p>Yewvelewadi,pune 412109, Maharashtra, India | Phone: 123-456-789 |Email: xyz@gmail.com</p>
        <p>Copyright &#169; 2023 Outdoor Adventure</p>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>